.CSVbutton {
    position: fixed; /* Use fixed to stick it to the viewport */
    bottom: 12px; /* Distance from the bottom of the screen */
    right: 12px; /* Distance from the right of the screen */
    z-index: 999; /* Make sure it appears above other elements */
}

.bu {
    position: relative; /* No need for sticky here */
    display: flex;
    justify-content: center;
    align-items: center;
}
