

.field-values a {
    color: #007bff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
  
  .field-values a:hover {
    text-decoration: underline;
  }
  
  .lead-id {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .lead-fields-container {
    display: flex;
    flex-direction: row; /* Arrange children in a vertical column */
    padding-bottom: 12px;
}

.lead-fields {
    flex: 1; /* Allow lead-fields to take up remaining space */
    width: auto; /* Ensure width is flexible */
}

.lead-icons {
    display: flex; /* Makes the icons flex for alignment, if necessary */
    justify-content: center; /* Center icons horizontally */
    align-items: center; /* Center icons vertically */
    margin-right: 12px;
    scale: 1.2;
}

.icon {
    color: #0071EB; /* Set the color of the icon to blue */
    text-decoration: none; /* Remove underline for links */
    margin: 0 8px; /* Add some spacing between icons */
    font-size: 1.2rem; /* Adjust the size of the icon if needed */
    display: inline-flex; /* Ensure the icons align well */
    align-items: center;
}

.icon:hover {
    color: darkblue; /* Optional: Change to a darker blue on hover */
}
